.notif-container{
    width: 100vw;
    /* max-height: 100vh; */
    margin-bottom:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    height: 63%;
   
}

.listnotif {
    width: 100vw;
    height: 100vh; 
    /* background-color: turquoise; */
    /* overflow: auto;  */
    /* margin-top:500px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
} 