.homeowner {
    width: 100vw;
    margin-bottom: 50px;
}

.but-cont {
    max-width: 1290px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.homeclient {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}