.shops-container {
    display: flex;
    flex-direction: row;
    /* background-color: turquoise;  */
    /* border: solid #5B6DCD 10px; */
    /* padding: 5px; */
    /* max-width: 1260px; */
    margin:10px;
    overflow: auto;
}

li {
    list-style: none;
    box-sizing: content-box;
    
}

.li-neigh{
height: 40px;
}

.li-name{
height: 95px;
}

.cadatienda{
    /* width: 1250px; */
    margin-bottom: 20px;
    /* height: 100vh; */
}

