.photo {
    width: 200px;
    height: 130px;
}

.cadafila {

    display: flex;
    flex-direction: column;

}

.item {
    width: 90%;
    height: 50%;
    display: flex;

}

.list {
    /* width: 240px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5B6DCD;
    border: solid rgb(9, 10, 12) 3px;
    padding: 20px;
    margin: 20px;
}


button {
    background-color: transparent;
    border: none;
}