.photo {
    width: 200px;
    height: 130px;
}

.cadafila{
    /* width: 100vw;
    height: 100vh; */
    /* background-color: silver; */
    /* display: flex; */
    display: flex; 
  flex-direction: column; 
}

.item {
    width: 100vw;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
}

.list{
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0px; */
    background-color: #5B6DCD;
    border: solid #5B6DCD 10px;
    padding: 2px;
}

button {
    background-color: transparent;
    border: none;
}
