.nav-style {
    background-color: #FC4A1A;
    height: 60px;
    width: 100vw;
    margin: 0px;
    /* display: flex; 
    justify-content: center;
    align-items: center;  */
    position: fixed;
    top: 0;
    left: auto;
    right: auto; 
}



nav>ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        
}

.navlink {
    text-decoration: none;
    border: solid;
    border-radius: 5%;
    box-shadow: none;
    color: #4ABDAC
    
    

}