.nav-style {
    background-color: rgb(96, 19, 160);
    height: 100px;
    width: 100vw;
    margin: 0px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    right: auto; 
    display: flex;
}




nav>ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        
}

.div-nav {
   display: flex;
   justify-content: center;
   align-items: center;
}

.link {
    text-decoration: none;
    color: #DFDCE3;
    border: double;
    border-radius: 35%;
    box-shadow: none;
    border-color: #DFDCE3;
    margin: 15px;
    padding: 5px;
    font-size: 25px; 
}

.div-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}